name: gardawara_ai
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.3.2
  google_generative_ai: ^0.4.0 
  flutter_dotenv: ^5.1.0
  flutter_markdown: ^0.7.7+1
  shared_preferences: ^2.5.4
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - .env
